NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 40 ns HIGH 50 %;
OFFSET = IN 6 ns BEFORE "clk";
OFFSET = OUT 17 ns AFTER "clk";
NET "data(0)" LOC = "P128";
NET "data(1)" LOC = "P131";
NET "data(2)" LOC = "P133";
NET "data(3)" LOC = "P138";
NET "data(4)" LOC = "P140";
NET "data(5)" LOC = "P142";
NET "data(6)" LOC = "P145";
NET "data(7)" LOC = "P147";
NET "data(8)" LOC = "P152";
NET "data(9)" LOC = "P154";
NET "data(10)" LOC = "P156";
NET "data(11)" LOC = "P159";
NET "data(12)" LOC = "P161";
NET "data(13)" LOC = "P163";
NET "data(14)" LOC = "P168";
NET "data(15)" LOC = "P170";
NET "data(16)" LOC = "P171";
NET "data(17)" LOC = "P169";
NET "data(18)" LOC = "P167";
NET "data(19)" LOC = "P162";
NET "data(20)" LOC = "P160";
NET "data(21)" LOC = "P157";
NET "data(22)" LOC = "P155";
NET "data(23)" LOC = "P153";
NET "data(24)" LOC = "P149";
NET "data(25)" LOC = "P146";
NET "data(26)" LOC = "P144";
NET "data(27)" LOC = "P141";
NET "data(28)" LOC = "P139";
NET "data(29)" LOC = "P134";
NET "data(30)" LOC = "P132";
NET "data(31)" LOC = "P130";
NET "address(2)" LOC = "P110";
NET "address(3)" LOC = "P111";
NET "address(4)" LOC = "P113";
NET "address(5)" LOC = "P114";
NET "address(6)" LOC = "P115";
NET "address(7)" LOC = "P116";
NET "address(8)" LOC = "P117";
NET "address(9)" LOC = "P100";
NET "address(10)" LOC = "P101";
NET "address(11)" LOC = "P102";
NET "address(12)" LOC = "P103";
NET "address(13)" LOC = "P107";
NET "address(14)" LOC = "P108";
NET "address(15)" LOC = "P109";
NET "address(16)" LOC = "P118";
NET "address(17)" LOC = "P124";
NET "address(18)" LOC = "P125";
NET "address(19)" LOC = "P126";
NET "address(20)" LOC = "P127";
#NET "address(21)" LOC = "P99";
NET "ramsn(0)" LOC = "P175";
NET "ramsn(1)" LOC = "P176";
NET "rwen(0)" LOC = "P173";
NET "rwen(1)" LOC = "P99";
#NET "ramoen(0)" LOC = "P174";
#NET "lvds_tx(0)" LOC = "P67";
#NET "lvds_tx(1)" LOC = "P68";
#NET "lvds_tx(2)" LOC = "P70";
#NET "lvds_tx(3)" LOC = "P71";
#NET "lvds_rx(0)" LOC = "P63";
#NET "lvds_rx(1)" LOC = "P64";
#NET "lvds_rx(2)" LOC = "P65";
#NET "lvds_rx(3)" LOC = "P66";
#NET "can_tx" LOC = "P96";
#NET "can_rx" LOC = "P97";
#NET "can_rs" LOC = "P95";
NET "pio(2)" LOC = "P93";
NET "pio(3)" LOC = "P94";
NET "pio(4)" LOC = "P81";
NET "pio(5)" LOC = "P84";
NET "pio(6)" LOC = "P85";
NET "pio(7)" LOC = "P87";
#NET "led(6)"		LOC=P86;
#NET "led(7)"		LOC=P82;
#NET "resetout"		LOC=P189;
#NET "sw_high" LOC = "P79";
#NET "sw_low" LOC = "P80";
# System Clock on XT1
NET "clk" LOC = "P92";
NET "resetn" LOC = "P80";
NET "errorn" LOC = "P82";
#NET "wdogn" LOC = "P86";
#NET "romsn(0)" LOC = "P40";
#NET "oen" LOC = "P35";
NET "oen" LOC = "P174";
#NET "read" LOC = "P201";
#NET "writen" LOC = "P21";
NET "bexcn" LOC = "P201";
NET "brdyn" LOC = "P21";
NET "writen" IOSTANDARD = LVTTL;
NET "pio(0)" PULLDOWN;
NET "pio(1)" PULLDOWN;
NET "bexcn" PULLUP;
NET "brdyn" PULLDOWN;
NET "rwen(0)" DRIVE = 8;
NET "rwen(1)" DRIVE = 8;
NET "rwen(2)" DRIVE = 8;
NET "rwen(3)" DRIVE = 8;
NET "pio(0)" LOC = "P3";
NET "pio(1)" LOC = "P4";
NET "dsuen" PULLUP;
NET "dsubre" PULLDOWN;
NET "dsuen" LOC = "P237";
NET "dsubre" LOC = "P238";

# UART1
NET "pio(15)" LOC = "P72";
NET "pio(14)" LOC = "P73";
#NET "pio(15)" LOC = "P231";
#NET "pio(14)" LOC = "P232";
#NET "pio(14)" PULLUP;

# UART2
#NET "pio(11)" LOC = "P74";
#NET "pio(10)" LOC = "P78";
NET "pio(11)" LOC = "P235";
NET "pio(10)" LOC = "P236";
NET "pio(10)" PULLUP;

# DSU UART
NET "dsutx" LOC = "P74";
NET "dsurx" LOC = "P78";
