
The primary way of configuring the model is using a TCL/TK based GUI.
The GUI is based on the 'xconfig' sripts from the linux kernel and
works both on unix and cygwin hosts with TCL/TK 8.0 or later.

To make a configuration, do 'make xconfig' in the leon top directory.
After having saved the new configuration, do a 'make dep' to install
the configuration in the VHDL model. To build the model, do 'make'
as usual.


Enjoy, Jiri Gaisler - Gaisler Research.
